h1{
    text-align: center;
    background-color: rgb(158, 93, 219);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
}
body{
    background-color: rgb(228, 195, 231);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
main{
    width: 400px;
    align-items: center;
    background-color: rgb(207, 165, 246);
    padding: 35px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    border: 3px solid rgb(173, 87, 254);
    margin-top: 60px;
}
button{
    background-color: rgb(175, 106, 240);
    color: white;
    margin: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
button:hover{
    background-color: purple;
}
button:visited{
    background-color: purple;
}
input{
    border: 1px solid black;
}
footer{
    position: fixed;
}